{% block stylesheets %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/style.css">
{% endblock %}

<div class="centered greyboxaddlink" style="margin-left:15%; margin-top:5%;">

<form action="" method="post">
    {% csrf_token %}
    <label for="id_text">hit us with the dagger/ leave your feedback here. Any and all helps!</label>
    <textarea cols="150" id="id_text" name="text" rows="29"></textarea>
<div>
</div>
    <input style="height:20%; width:50px;" type="submit" value="Submit" class="centered" ></input>
</form>

</div>
