{% extends "_layouts/base.html" %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/style.css">
<link rel="stylesheet" href="{{ STATIC_URL }}css/feedback.css">
{% endblock %}

{% block page_content %}
<div class="centered greyboxaddlink" style="margin-left:15%; margin-top:5%;">

<form action="" method="post">
    {% csrf_token %}
    <label for="id_text">Leave your feedback here. Any and all helps!</label>
    <textarea id="id_text" name="text" rows="21"></textarea>
<div>
</div>
    <input type="submit" value="Submit" class="centered" ></input>
</form>

</div>
{% endblock %}
