<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>Line.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

	  
	  <script>
  (function(w, d){
   var id='embedly-platform', n = 'script';
   if (!d.getElementById(id)){
     w.embedly = w.embedly || function() {(w.embedly.q = w.embedly.q || []).push(arguments);};
     var e = d.createElement(n); e.id = id; e.async=1;
     e.src = ('https:' === document.location.protocol ? 'https' : 'http') + '://cdn.embedly.com/widgets/platform.js';
     var s = d.getElementsByTagName(n)[0];
     s.parentNode.insertBefore(e, s);
   }
  })(window, document);
</script>

    <script src="js/less-1.3.3.min.js"></script>
	  
    <link rel="shortcut icon" type="image/png" href="{{STATIC_URL}}/img/favicon.ico"/>

    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css">

    
    {% block stylesheets %}{% endblock %}

	  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.min.js"></script>
	  <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
	  <script type="text/javascript" src="{{ STATIC_URL }}js/scripts.js"></script>
  </head>


  <body>


    <!-- navbar start -->
    <!-- ================ -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation" >
      <div class="container-fluid">

        <!-- Toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
          </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse scrollspy smooth-scroll" id="navbar-collapse-1">
          
          <ul class="nav navbar-nav navbar-left">


            <!-- HOME-->
            <li>
              <a href="/home">
                <img src="{{ STATIC_URL }}img/logo.png" class="center-block resizeicon">
              </a>
            </li>

            <!-- LINKS -->
            <li>
              <a href="/links/new" class="btn" style="margin-left:100%;" >
                <img src="{{ STATIC_URL }}img/Link.png" class="center-block resizeicon" >
              </a>
            </li>              
            
          </ul>

          <!-- SEARCH -->
          <form action="/search/" class="navbar-form navbar-left centered" role="search" style="padding-left:9%;">
            <div class="form-group">
              <input type="text" id="id_text" maxlength="255" name="text" class="form-control" placeholder="search">
            </div>
              <button type="submit" style="display: none"></button>
          </form>


          <ul class="nav navbar-nav navbar-right">

<li>
   <a href="/feedback">Feedback</a> 
</li>
            
<li>
  <a href="/all">All Users</a>
</li>

<li>  
<a href="/home">Following</a>
</li>
            

            
 <ul class="nav navbar-nav navbar-right">

            {% if not user.is_anonymous %}

            
            <li class="dropdown">

              <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                <img src="{{ STATIC_URL }}img/notifications.png" class="center-block resizeicon ">
              </a>

              <ul class="dropdown-menu"> 

                {% for notification in user.get_notification_list %}                            
                {% if "following" in notification.title %}
                <li>
                  <a href={{ notification.from_user.get_profile_page_url }}>  {{ notification.from_user }} is following you.
                  </a> 
                </li>

                {% elif "repost" in notification.title %}
                <li>
                  <a href={{ notification.from_user.get_profile_page_url }}>{{ notification.from_user }} reposted your link</a>
                </li>

                {% else %}
                <li>
                  <a href={{ notification.from_user.get_profile_page_url }}>{{ notification.from_user }} tagged you in a link</a>
                </li>
                {% endif %}

                <p hidden>{{ notification.set_inactive }}</p>
                {% empty %}
                <li>No notifications.</li>

                {% endfor %}
                
                <li>
                  <a href="/notifications/">See all</a>
                </li>

              </ul>
              
            </li>

            {% endif %}





            <!-- HOTPAGE -->
            <li>
              <a href='/top' class="btn" >
                <img src="{{ STATIC_URL }}img/Hot.png" class="center-block resizeicon" >
              </a>
            </li>


            <!-- Profile-->
            {% if not user.is_anonymous %}
            <li>
              <a href={{ user.get_profile_page_url }}>
                <img src="{{ STATIC_URL }}img/profile_icon.png" class="center-block resizeicon">
              </a>
            </li>
            {% endif %}

            <!-- SETTINGS-->


            <li class="dropdown pull-right">

              <a href="#" data-toggle="dropdown" class="dropdown-toggle"> 
                <img src="{{ STATIC_URL }}img/triangle.png" class="center-block resizeicon">
              </a>

              <ul class="dropdown-menu">

                {% if not user.is_anonymous %}
                <li>
                  <a href="/logout/">Logout</a>
                </li>
                {% else %}
                <li>
                  <a href="/login/">Login</a>
                </li>
                {% endif %}

              </ul>
            </li>

          </ul>

          


          

          <!-- SETTINGS-->

          
          
</ul>

</div>

</div>

<div class=horizontallinenavbar>
</div>

</nav>


<!-- navbar end -->


<!-- <div class="modal fade" id="myModal">
<div class="greyboxaddlink" style="margin-left:18%; margin-top:5%;">
  <form action="" method="post">{% csrf_token %}



    <!-- POST A LINK -->
<!-- <!-- 
    {{ form.url.errors }}
    <div class="input-group input-group-lg"style="margin-right:360px; margin-left:50px; margin-top:5%;">
      <input type="url" id="id_url" class="form-control" maxlength="200" name="url" placeholder="Post a Link" aria-describedby="sizing-addon1"  style="width:890px;">
    </div>

    <!-- INCLUDE CUSTOM TITLE  -->
 <!--    {% if form.errors %}
    <div>
      {% else %}
      <div id="input-title">
        {% endif %}

        <div style="margin-right:360px; margin-left:85px; margin-top:3%;">
          {{ form.title.errors }}
        </div>

      <div class="input-group" style="margin-right:360px; margin-left:50px; margin-top:5%;">
          <input type="text" id="id_title" maxlength="255" name="title" class="form-control" placeholder="Input a Custom Title" aria-describedby="sizing-addon2" style="width:890px;">
             <!-- there is currently a space inbetween the box and the arrow; i think it has something to do with the id or type assigned to the button because i can't seem to do anything with style manipulation --> 
    <!--   </div>
      </div> -->

      
      <!-- SHARE THE FUCKING THING -->                         
      <!-- {% for i in "xxxxxx" %} -->
      <!-- <div id="share-post-{{ forloop.counter0 }}"> -->

      <!-- {{ form.tag1.errors }} -->

      <!-- <div class="input-group input-group-sm" style="margin-right:360px; margin-left:750px; margin-top:3%;"> -->
      <!--             <input type="text" id="id_tag{{ forloop.counter }}" name="tag{{ forloop.counter }}" class="form-control" placeholder="Share with ..." aria-describedby="sizing-addon3" style="width: 100px"> -->
      <!--             <span class="input-group-addon" id="sizing-addon3"> -->

      <!--            <a id="trigger-share-{{ forloop.counter }}" style=" margin-top:-50px; margin-left:-17px; margin-right:-20px; margin-bottom:-20px;"> -->
      <!--                     <img src="{{ STATIC_URL }}img/Add_Link.png" width="13px";> -->
      <!--                 </a> -->
      <!--            </span> -->
      <!-- </div> -->
      <!-- </div> -->
      <!-- {% endfor %} -->

   <!--   {% if form.errors %}
      
        {% else %}
       <div id="share-post-0">
            {% endif %}
            <div class="input-group input-group-sm" style="margin-right:360px; margin-left:50px; margin-top:5%;">
              {{ form.tag2.errors }}
              <input type="text" id="id_tag1" name="tag1" class="form-control" placeholder="Share with ..." aria-describedby="sizing-addon3" style="width: 890px">
            </div>
          </div>


        {% if form.errors %}
      
          {% else %}
          <div id="share-post-1">
            {% endif %}
            <div class="input-group input-group-sm" style="margin-right:360px; margin-left:750px; margin-top:3%;">
              {{ form.tag2.errors }}
              <input type="text" id="id_tag2" name="tag2" class="form-control" placeholder="Share with ..." aria-describedby="sizing-addon3" style="width: 100px">
              <span class="input-group-addon" id="sizing-addon3">
                <button type="button" id="trigger-share-2" style=" margin-top:-50px; margin-left:-17px; margin-right:-20px; margin-bottom:-20px;">
                 >
                </button>
              </span>
            </div>
          </div>

          {% if form.errors %}
        
            {% else %}
            <div id="share-post-2">
              {% endif %}
              <div class="input-group input-group-sm" style="margin-right:360px; margin-left:750px; margin-top:3%;">
                {{ form.tag3.errors }}
                <input type="text" id="id_tag3" name="tag3" class="form-control" placeholder="Share with ..." aria-describedby="sizing-addon3" style="width: 100px">
                <span class="input-group-addon" id="sizing-addon3">
                  <button type="button" id="trigger-share-3" style=" margin-top:-50px; margin-left:-17px; margin-right:-20px; margin-bottom:-20px;">
                   >
                  </button>
                </span>
              </div>
            </div>

            {% if form.errors %}
         
              {% else %}
              <div id="share-post-3">
                {% endif %}
                <div class="input-group input-group-sm" style="margin-right:360px; margin-left:750px; margin-top:3%;">
                  {{ form.tag4.errors }}
                  <input type="text" id="id_tag4" name="tag4" class="form-control" placeholder="Share with ..." aria-describedby="sizing-addon3" style="width: 100px">
                  <span class="input-group-addon" id="sizing-addon3">
                    <button type="button" id="trigger-share-4" style=" margin-top:-50px; margin-left:-17px; margin-right:-20px; margin-bottom:-20px;">
                     >
                    </button>
                  </span>
                </div>
              </div>

              {% if form.errors %}
                {% else %}
                <div id="share-post-4">
                  {% endif %}
                  <div class="input-group input-group-sm" style="margin-right:360px; margin-left:750px; margin-top:3%;">
                    {{ form.tag5.errors }}
                    <input type="text" id="id_tag5" name="tag5" class="form-control" placeholder="Share with ..." aria-describedby="sizing-addon3" style="width: 100px">
                    <span class="input-group-addon" id="sizing-addon3">
                      <button type="button" id="trigger-share-5" style=" margin-top:-50px; margin-left:-17px; margin-right:-20px; margin-bottom:-20px;">
                       >
                      </button>
                    </span>
                  </div>
                </div>

                {% if form.errors %}
              
                  {% else %}
                  <div id="share-post-5">
                    {% endif %}
                    <div class="input-group input-group-sm" style="margin-right:360px; margin-left:750px; margin-top:3%;">
                      {{ form.tag6.errors }}
                      <input type="text" id="id_tag6" name="tag6" class="form-control" placeholder="Share with ..." aria-describedby="sizing-addon3" style="width: 100px">
                      <span class="input-group-addon" id="sizing-addon3">
                        <button type="button" id="trigger-share-6" style=" margin-top:-50px; margin-left:-17px; margin-right:-20px; margin-bottom:-20px;">
                        >
                        </button>
                      </span>
                    </div>
                  </div>


                   <button type="submit" style="margin-left:45%;margin-top:5%; font-size:35px;">
  SUBMIT
</button>

  </form>
  </div>
</div> -->

<div class="tocenter">
  <div style="padding-top: 10%">
  {% block page_content %}{% endblock %}
  </div>
</div>




</body>
</html>
