<!doctype html>
<html>
  <head>
    <title>{% block page_title %}{% endblock %}LINE</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-responsive.min.css">
  </head>
  <body>
    <div class="container">
      <h1><a href='/home/'>LINE</a></h1>
      {% block page_content %}{% endblock %}
      <a href="/logout/">LOGOUT</a>
      <a href='{{ user.get_profile_page_url }}'>PROFILE</a>
    </div>
  </body>
</html>
<a>Logged in as {{ user.name }}</a>

