{% extends '_layouts/base.html' %}

{% block page_title %}Links | {% endblock %}

{% block page_content %}

<div style="padding-top: 10%">
<h3 class="centered">

  {{ user_object.first_name }}

</h3>

<div class="centered">
  <img src={{ user_object.get_image_url }} class="img-circle" width="200">
</div>

<h1 class="centered" style="color:#BABABA;">
  Young adult novel enthusiast
</h1>
</div>


<div style="height:75px;" class="centered">
    <form action="#" method="get">
    <button class="resize nopadding" value="FOLLOW" name="follow-button"id="follow">
    </button>
    <style>
      #follow{
      background-image: url({{ STATIC_URL }}img/Plus.png);
      background-size: 100%;
      }
    </style>
  </form>
</div>


<!--
<form action="#" method="get" class="centered">
  <input type="submit" class="btn" value="FOLLOW" name="follow-button">
  <input type="submit" class="btn" value="UNFOLLOW" name="unfollow-button">
</form>
-->



<div class="horizontalline centered" style="margin-left:130px; margin-bottom:20px;">

</div>

<div>
      <img src="{{ STATIC_URL }}img/Tag_icon.png" class="resize" style="margin-left:85%; margin-bottom:20px;">
</div>

 {% for post in post_list %}

     <div class="container">

        <div class="media">

      <!-- organization of the post in the center --> 
          <div class="col-sm-3">
            <img src="{{ STATIC_URL }}img/Profile_Pic.png" class="img-circle pull-left" width="90"> 
          </div>

          <div class="col-sm-6">
            <div class ="post" >
              <h1 class="centered">
                {{ post.title }} 
              </h1> 

              <h2 class="centered">
                posted by {{ post.posted_by }} 
              </h2>

              <h4 class="centered">
                {{ post.reposted_from.posted_by }} something
              </h4>
            </div>

                        <!-- progress bar; need to add counting variable -->
              <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                      Smoking HOT  
              </div>
              </div>
          </div>

           <div class="col-sm-3">
             <img src="{{ STATIC_URL }}img/Profile_Pic.png" class="img-circle pull-right" width="90">
          </div>

          <div class="span">
          <form action="#" method="get">
          </form>
          </div>


        </div>
    </div>


      {% empty %}
      <li>No links!</li>
      {% endfor %}

    {% endblock %}


{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}


