{% extends '_layouts/base.html' %}

{% block page_title %}Links | {% endblock %}

{% block page_content %}

	
<h2>{{ user_object.name }}<h2>

  <div class="span8">

<img src={{ user_object.get_image_url }}><img>

<form action="#" method="get">
  <input type="submit" class="btn" value="FOLLOW" name="follow-button">
  <input type="submit" class="btn" value="UNFOLLOW" name="unfollow-button">
</form>

 </div>


<div class="media"> 
<ul>

  {% for link in link_list %}

  <li>
  	<h1 href={{ link.url }}>
  		{{ link.title }}
  	</h1> 

  </li>


  {% empty %}



  <li>This guy hasn't posted a single link.</li>
  {% endfor %}



</ul>



{% endblock %}


{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

</div>	
</div>

