{% extends '_layouts/basic_link_list.html' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/profile.css">
{% endblock %}

{% block title %}

<head>
  <script type="text/javascript" src="{{ STATIC_URL }}js/profile.js"></script>
</head>

<!-- ADD funtionality to buttons
     <button type="submit" style="font-size:10px; margin-left:5%;">Upload Picture</button>
     <button type="submit" style="font-size:10px; margin-left:1%;">Edit Caption</button>
     --> 

{{ repost_message }}

<h3 class="centered">
  {{ user_object.get_short_name }}
</h3>

<div class="centered">
  <img src={{ user_object.get_image_url }} class="img-circle" width="180" height="180">
</div>

<div style="padding-top:3%">
  <h1 class="centered" style="color:#BABABA;">
    I'm a Line alpha user!
  </h1>
</div>


<div style="height:75px;" class="centered">
  {% if user_object != user %}
  <form action="#" method="get">
    {% if user_object in user.following.all %}
    <button class="followbutton nopadding" value="UNFOLLOW" name="unfollow-button"id="follow"> unfollow
    </button>
    {% else %}
    <button class="followbutton nopadding" value="FOLLOW" name="follow-button"id="follow"> follow
    </button>
    {% endif %}
    <!-- <style> -->
    <!--   #follow{ -->
    <!--   background-image: url({{ STATIC_URL }}img/Plus.png); -->
    <!--   background-size: 100%; -->
    <!--   } -->
    <!-- </style> -->
  </form>
  {% endif %}
</div>

<div class="horizontalline centered" style="margin-left:130px; margin-bottom:20px;">

</div>

<div>
  <img src="{{ STATIC_URL }}img/Tag_icon.png" class="resize" style="margin-left:85%; margin-bottom:20px;">
</div>
{% endblock %}
