#summary{
	display: none;
}
.post{
	background-color: white;
}
.share-post-0{
	display:none;
}
h1{
	text-align:center;
	font-family:"Helvetica", neue light;
	font-size: 40px;
}

#summary-button{
	background-image: url({{ STATIC_URL }}img/summary_arrow.png);
	background-size:100%;
}

#plus{
	background-image: url({{ STATIC_URL }}img/summary_arrow.png);
          background-size: 100%;
          pull-image:right;
}

#tag{
	padding-left: 10px;
	padding-right:10px;
}


.share-post-1{
	display:none;
}
.share-post-2{
	display:none;
}
.share-post-3{
	display:none;
}
.share-post-4{
	display:none;
}
.share-post-5{
	display:none;
}