#input-title {
	display: none;
}

#share-post-1 {
	display: none;
}
#share-post-0 {
	display: none;
}

#share-post-2 {
	display: none;
}

#share-post-3 {
	display: none;
}
#share-post-4 {
	display: none;
}
#share-post-5 {
	display: none;
}
#share-post-6 {
	display: none;
}
