@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);

body {
    background-color: #FCFCFC
    font-family: 'Oswald', sans-serif;
}

a.list-group-item.active {
    background-color: #FCFCFC;
}

h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
    margin-top: 0px;
  margin-bottom: 5px;

}

h2 {
 font-family: 'Oswald',;
 font-size: 12px;
   margin-top: 0px;
  margin-bottom: 0px;
}

h4 {
   font-family: 'Oswald',;
 font-size: 8px;
 margin-top: 0px;
  margin-bottom: 0px;
}

.centered {
  text-align: center;
}

.post {
  display: block;
  padding-top:15px;
  padding-bottom: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #ddd;
}

.left {
  text-align: left;
}

.nopadding {
margin-bottom: -20px;
margin-top: 10px;
padding-bottom: -20px;

}

.resize {
    width:50px;
    height:50px;
}

.resizeicon {
    width:33px;
    height:33px;
    margin-bottom: -10px;
    margin-top: -10px;
}

.eyeframe {
  position:absolute;
  margin-top: -100px;
}





/* Navigations
----------------------------------------------------------------------------- */
.header .navbar {
  margin-bottom: 10px;
}
.main-navigation .navbar-default {
  background-color:#FFFFFF;
  border: none;
}
.main-navigation .navbar-default .navbar-nav > li > a {
  color: #FFFFFF;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 300;
}
.main-navigation .navbar-default .navbar-nav > li.active > a {
  background-color: transparent;
  color: #FFFFFF;
}
.main-navigation .navbar-default .navbar-nav > li > a:hover,
.main-navigation .navbar-default .navbar-nav > li.active > a:hover {
  color: #FFFFFF;
}
@media (min-width:768px) {
  .main-navigation .navbar-default .navbar-nav > li > a {
    padding-top: 30px;
    padding-bottom: 30px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
}
@media (min-width:768px) and (max-width:991px) {
  .main-navigation .container-fluid {
    padding-left: 0;
    padding-right: 0;
  }
  .navbar-nav {
    float: left !important;
  }
}
@media (max-width:767px) {
  .header.navbar-fixed-top {
    position: absolute;
  }
}



/* Fixed Header
----------------------------------------------------------------------------- */
.fixed-header-on .header {
  background-color: rgba(0, 0, 0, 0.95);
  padding: 5px 0;
}
.fixed-header-on .site-name {
  font-size: 24px;
}
.fixed-header-on .logo {
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
  margin-top: 0;
  margin-bottom: 0;
}
@media (min-width:768px) {
  .fixed-header-on .navbar-default .navbar-nav > li > a {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
@media (max-width:991px) {
  .fixed-header-on .logo,
  .fixed-header-on .site-name,
  .fixed-header-on .site-slogan {
    display: none;
  }
}