body {
    background-color: #DCDCDC;
}

a.list-group-item.active {
    background-color: black;
}

.nav.nav-tabs{
    background-color: black;
}

.media {
    background-color: white;
}

#notifications {
    color: red;
}
