{% extends "_layouts/base.html" %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/home.css">
{% endblock %}

{% block page_content %}
      {% for post in post_list %}

{% if post.is_link %}
			<div class="media">
        <div class="span4">
				  <a href={{ post.url }} class="pull-left"><img src="http://lorempixel.com/64/64/" class="media-object" alt=""></a>
				  <div class="media-body">
					  <h4 class="media-heading">
						  {{ post.title }} posted by {{ post.posted_by }}
					  </h4> {{ post.url }}
				  </div>
			  </div>
        <div class="span">
          <form action="#" method="get">

            <div>
              {{ post.reposts.all.count }}
              <button type="submit" class="btn btn-default" name={{ post.get_repost_button_name }}><span class="glyphicon glyphicon-retweet"></span></button>
            </div>

          </form>
        </div>
      </div>

{% else %}
			<div class="media">
        <div class="span4">
				  <a href={{ post.original.url }} class="pull-left"><img src="http://lorempixel.com/64/64/" class="media-object" alt=""></a>
				  <div class="media-body">
					  <h4 class="media-heading">
						  {{ post.original.title }} reposted by {{ post.posted_by }} from {{ post.original.posted_by }}
					  </h4> {{ post.original.url }}
				  </div>
			  </div>
        <div class="span">
          <form action="#" method="get">

            <div>
              <button type="submit" class="btn btn-default" name={{ post.get_repost_button_name }}><span class="glyphicon glyphicon-retweet"></span></button>
            </div>

          </form>
        </div>
      </div>

{% endif %}

      {% empty %}
      <li>No links!</li>
      {% endfor %}
{% endblock %}

<style>
</style>

