{% extends "_layouts/base.html" %}


{% block stylesheets %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/home.css">
{% endblock %}
{% block page_content %}

<head>
<script type="text/javascript" src="{{ STATIC_URL }}js/home.js"></script>
</head>

<div style="padding-top:10%;">
{% for post in post_list %}

<div id="content" ></div>
<div class="container">

  <div class="media">
    
    <!-- EVEN MORE RIGHT -->
    <div div class="col-sm-1" style="margin-left:-10px; margin-top:10px; padding-bottom:80px;">
    {% if not post.is_link %}
      <span style="margin-left:50px; padding-top:90px;">
        <img src="{{ STATIC_URL }}img/Reline.png" class="resizeicon"> 
      </span>
        <!--change href to link to user's profile, change title to short_name when implemented -->
        <a href="{{ post.original.posted_by.get_profile_page_url }}" data-toggle="tooltip" title="{{ post.original.posted_by.get_long_name }}" data-placement="bottom">
      <img  src={{ post.original.posted_by.get_image_url }} class="img-circle"  width="40">
      </a>  
    {% endif %}
    </div>

    <!-- RIGHT --> 
    <div class="col-sm-2" id="hide">
     <!--change href to link to user's profile, change title to short_name when implemented -->
       <a href="{{ post.posted_by.get_profile_page_url }}" data-toggle="tooltip" title="{{ post.posted_by.get_long_name }}" data-placement="bottom">
      <img src={{ post.posted_by.get_image_url }} class="img-circle" width="90"> 
        </a>
      <span>
        <h4>
          {{ post.created_at }}
        </h4>
      </span>

    </div>

    <!--CENTER --> 
    <div class="col-sm-6" style="margin-left:-80px; margin-top:10px; padding-bottom:80px;">
      <h1 style="margin-top:10px;" >
      <a href="{{ post.get_url }}">  
      <!--This doesn't pull from the DB properly or load-->
      {{ post.title }} 
      </a>
      </h1>
       <!--For some reason this only works for the first post --> 

      <a id="summary-button">
      <button class="pull-right" >
      <img src="{{ STATIC_URL }}img/summary_arrow.png" class="resizeicon">
      </button>
      </a>
<div id="summary">
<a href="{{ post.get_url }}" class="embedly-card"></a>    
</div>
      <!-- progress bar; need to add counting variable -->

      <div style="width: {{ post.get_hotness_percent }}%;">
      <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="90" style="width: {{ post.get_hotness_percent }}%; height: 10px;">
      </div>
      </div>
       <div class="span1">
       <form>
      <a >
        <button id="plus" class="btn btn-default center-block resize nopadding pull-right" name="{{ post.get_repost_button_name }}"  data-toggle="modal" data-target="#tagfriends">
        </button>
<div class="modal fade" id="tagfriends" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
  <!--INSERT TAGGING FRIENDS CODE HERE, this button reposts for now-->
  <button name="{{ post.get_repost_button_name }}"></button>

  </div>
</div>
        <style>
        #plus{
  background-image: url({{ STATIC_URL }}img/Plus.png);
          background-size: 100%;
          pull-image:right;
}
</style>
      </a>
      </form>
      </span>

      </div>
    </div>
 

    <!-- LEFT--> 
    <div class="col-sm-3">


      <div style="margin-top:30px;">
        {% if post.tag1 %}
          <a href="post.tag1.get_profile_page_url" data-toggle="tooltip" title="{{ post.tag1.username }}" data-placement="bottom" id="tag">
        <img src={{ post.tag1.get_image_url }} class="img-circle" width="40" style="" >
        </a>
        {% endif %}
        {% if post.tag2 %}
         <a href="post.tag2.get_profile_page_url" data-toggle="tooltip" title="{{ post.tag2.username }}" data-placement="bottom" id="tag">
        <img src={{ post.tag1.get_image_url }} class="img-circle" width="40" style="" >
        </a>
        {% endif %}
        {% if post.tag3 %}
        <a href="post.tag3.get_profile_page_url" data-toggle="tooltip" title="{{ post.tag3.username }}" data-placement="bottom" id="tag">
        <img src={{ post.tag1.get_image_url }} class="img-circle" width="40" style="" >
        </a>
        {% endif %}
        {% if post.tag4 %}
         <a href="post.tag4.get_profile_page_url" data-toggle="tooltip" title="{{ post.tag4.username }}" data-placement="bottom" id="tag">
        <img src={{ post.tag1.get_image_url }} class="img-circle" width="40" style="" >
        </a>
        {% endif %}
         {% if post.tag5 %}
         <a href="post.tag5.get_profile_page_url" data-toggle="tooltip" title="{{ post.tag5.username }}" data-placement="bottom" id="tag">
        <img src={{ post.tag1.get_image_url }} class="img-circle" width="40" style="" >
        </a>
        {% endif %}
         {% if post.tag5 %}
         <a href="post.tag6.get_profile_page_url" data-toggle="tooltip" title="{{ post.tag6.username }}" data-placement="bottom" id="tag">
        <img src={{ post.tag1.get_image_url }} class="img-circle" width="40" style="" >
        </a>
        {% endif %}
      </div>
     
    </div>

    <div class="span">
      <form action="#" method="get">
      </form>
    </div>


  </div>
</div>


{% empty %}
<li>No links!</li>
{% endfor %}

</div>


{% endblock %}


</body>
