{% extends "_layouts/base.html" %}


{% block stylesheets %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/home.css">
{% endblock %}
{% block page_content %}

<h3 class="centered" style="font-size:100px;">
  Hot Page 
</h3>
</div>


<div class="horizontalline centered" style="margin-left:130px; margin-bottom:20px;">

</div>

<div style="padding-top:10%;">
{% for post in post_list %}

<div id="content" ></div>
<div class="container">

  <div class="media">
    
    <!-- EVEN MORE RIGHT -->
    <div div class="col-sm-1" style="margin-left:-10px; margin-top:10px; padding-bottom:80px;">
    {% if not post.is_link %}
      <span style="margin-left:50px; padding-top:90px;">
        <img src="{{ STATIC_URL }}img/Reline.png" class="resizeicon"> 
      </span>
      <img src={{ post.original.posted_by.get_image_url }} class="img-circle"  width="40">
    {% endif %}
    </div>

    <!-- RIGHT --> 
    <div class="col-sm-2">
      
      <img src={{ post.posted_by.get_image_url }} class="img-circle pull-left" width="90"> 

      <span>
        <h4>
          {{ post.created_at }}
        </h4>
      </span>

    </div>

    <!--CENTER --> 
    <div class="col-sm-6" style="margin-left:-80px; margin-top:10px; padding-bottom:80px;">
      
      <h1 style="margin-top:10px;" >
        {{ post.get_title }} 
      </h1> 
      
        <blockquote class="embedly-card">
          <h4><a href="{{ post.get_url }}"></a></h4>
        </blockquote>

      <!-- progress bar; need to add counting variable -->
      
      <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{ post.get_hotness_percent }}%; height: 10px;">
      </div>
    </div>


    <!-- LEFT--> 
    <div class="col-sm-3">


      <div style="margin-top:30px;">
        {% if post.tag1 %}
        <img src={{ post.tag1.get_image_url }} class="img-circle pull-right" width="40" style="margin-left:20px;">
        {% endif %}
        {% if post.tag1 %}
        <img src={{ post.tag1.get_image_url }} class="img-circle pull-right" width="40" style="margin-left:20px;">
        {% endif %}
        {% if post.tag1 %}
        <img src={{ post.tag1.get_image_url }} class="img-circle pull-right" width="40" style="margin-left:20px;">
        {% endif %}
        {% if post.tag1 %}
        <img src={{ post.tag1.get_image_url }} class="img-circle pull-right" width="40" style="margin-left:20px;">
        {% endif %}

      </div>
      <form>
      <a>
        <button class="btn btn-default center-block resize nopadding" name="{{ post.get_repost_button_name }}" id="plus">
        </button>
        <style>
          #plus{
          background-image: url({{ STATIC_URL }}img/Plus.png);
          background-size: 100%;
          }
        </style>
      </a>
      </form>
    </div>

    <div class="span">
      <form action="#" method="get">
      </form>
    </div>


  </div>
</div>


{% empty %}
<li>No links!</li>
{% endfor %}

</div>


{% endblock %}


</body>
