{% extends "_layouts/base.html" %}

{% block page_content %}

<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
      <h4 class="modal-title" id="myModalLabel">New link</h4>
    </div>
      <form action="" method="post">{% csrf_token %}
    <div class="modal-body">
        {{ form.as_p }}
    </div>
    <div class="modal-footer">
      <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
      <button type="submit" class="btn btn-primary" value="save">Add link to your line</button>
    </div>
      </form>
  </div>
</div>


{% endblock %}
