{% extends "_layouts/base.html" %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/link_new.css">
{% endblock %}
{% block page_content %}
<head>

<script type="text/javascript" src="{{ STATIC_URL }}js/link_new.js"></script>
<script>try{Typekit.load();}catch(e){}</script>
</head>

<body> 

<!-- POST A LINK -->
<div style="padding-top:10%;">
</div>

      <div class="input-group input-group-lg"style="margin-right:360px; margin-left:50px;">
          <span class="input-group-addon" id="sizing-addon1">
          </span>
                <input type="text" class="form-control" placeholder="Post a Link" aria-describedby="sizing-addon1" method="post" action="">
            <span class="input-group-addon" id="sizing-addon1"> 

                <button type="submit" id="trigger-title"  value="save" style=" margin-top:-50px; margin-left:-17px; margin-right:-20px; margin-bottom:-20px;">
                  <img src="{{ STATIC_URL }}img/Add_Link.png" width="38px";>
                </button>

          </span>
  </div>

<!-- INCLUDE CUSTOM TITLE  -->
<div id="input-title">
<div class="verticalline" style="padding-top:0px; margin-left:86px;">
</div>

<div class="input-group" style="margin-right:360px; margin-left:85px;">
            <input type="text" class="form-control" placeholder="Input a Custom Title" aria-describedby="sizing-addon2">
               <span class="input-group-addon" id="sizing-addon2">
                <button type="submit" id="trigger-share"  value="save" style=" margin-top:-50px; margin-left:-17px; margin-right:-20px; margin-bottom:-20px;">
                    <img src="{{ STATIC_URL }}img/Add_Link.png" width="38px";>
                </button>
                </span>
</div>
</div>
 
                           
                           <!-- SHARE THE FUCKING THING -->                         

<div id="share-post" class="input-group input-group-sm" style="margin-right:360px; margin-left:750px;">
            <input type="text" class="form-control" placeholder="Share with ..." aria-describedby="sizing-addon3">
            <span class="input-group-addon" id="sizing-addon3">
            <button type="submit"  value="save" style=" margin-top:-200px; margin-left:-17px; margin-right:-20px; margin-bottom:-20px;">
                  <img src="{{ STATIC_URL }}img/Add_Link.png" width="38px";>
           </button>
           </span>
<div class="verticalline" style="padding-top:0px; margin-left:750px;">
</div>
</div>


</body>


{% endblock %}
